<!doctype html>
<html lang="en" ng-app="gTrelloApp" ng-csp>
<head>
  <meta charset="utf-8">
  <title>GTrello</title>
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="js/lib/hashSearch.js"></script>
  <script type="text/javascript" src="js/gTrelloApp.js"></script>
  <script type="text/javascript" src="js/config/routeConfig.js"></script>
  <script type="text/javascript" src="js/config/globalConfig.js"></script>
  <script type="text/javascript" src="js/config/uriConfig.js"></script>
  <script type="text/javascript" src="js/constants/userConstant.js"></script>
  <script type="text/javascript" src="js/controllers/loginController.js"></script>
  <script type="text/javascript" src="js/controllers/mainController.js"></script>
  <script type="text/javascript" src="js/controllers/create/boardCreateController.js"></script>
  <script type="text/javascript" src="js/controllers/create/listCreateController.js"></script>
  <script type="text/javascript" src="js/controllers/create/cardCreateController.js"></script>
  <script type="text/javascript" src="js/controllers/create/commentCreateController.js"></script>
  <script type="text/javascript" src="js/services/userService.js"></script>
  <script type="text/javascript" src="js/services/trelloService.js"></script>
  <script type="text/javascript" src="js/services/utilService.js"></script>
  <script type="text/javascript" src="js/controllers/boardController.js"></script>
  <script type="text/javascript" src="js/controllers/listController.js"></script>
  <script type="text/javascript" src="js/lib/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="js/lib/trello.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body style="min-width: 500px">
    <md-toolbar layout="row" ng-controller="LoginController as vm">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu">
          <md-icon md-font-library="material-icons">menu</md-icon>
        </md-button>
        <h2>
          <span>GTrello</span>
        </h2>
        <span flex></span>
        <md-button ng-if="vm.user.isLoggedIn" class="md-icon-button" aria-label="Log out" ng-click="vm.userService.logoutFromTrello()">
          <md-icon md-font-library="material-icons">exit_to_app</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <div layout="row" layout-margin layout-wrap>
      <div flex="20">
        <md-fab-speed-dial md-direction="right" class="md-scale">
          <md-fab-trigger>
            <md-button class="md-fab md-warn" aria-label="Create">
              <md-icon md-font-library="materia-icons">add</md-icon>
            </md-button>
          </md-fab-trigger>
          <md-fab-actions>
            <md-button aria-label="Board" class="md-fab md-raised md-mini" style="background-color: #666666" ng-href="#/board/create">
              <md-icon md-font-library="materia-icons" aria-label="Create board">dashboard</md-icon>
              <md-tooltip>Create a new board</md-tooltip>
            </md-button>
            <md-button aria-label="List" class="md-fab md-raised md-mini" style="background-color: #666666" ng-href="#/list/create">
              <md-icon md-font-library="materia-icons" aria-label="Create list">view_list</md-icon>
              <md-tooltip>Create a new list</md-tooltip>
            </md-button>
            <md-button aria-label="Card" class="md-fab md-raised md-mini" style="background-color: #666666" ng-href="#/card/create">
              <md-icon md-font-library="materia-icons" aria-label="Create card">credit_card</md-icon>
              <md-tooltip>Create a new card</md-tooltip>
            </md-button>
            <md-button aria-label="Comment" class="md-fab md-raised md-mini" style="background-color: #666666" ng-href="#/comment/create">
              <md-icon md-font-library="materia-icons" aria-label="Create comment">comment</md-icon>
              <md-tooltip>Create a comment on an existing card</md-tooltip>
            </md-button>
          </md-fab-actions>
        </md-fab-speed-dial>
      </div>
      <ng-view flex="80" class="md-whiteframe-6dp"></ng-view>
    </div>

</body>
</html>