
######################
# Angular directories 
######################
target/
generated-java/
build/
node/
node_modules/
**/bower_components/
dist/
out/
######################
# IntelliJ IDEA
######################
.idea/
*.iml

######################
# LOG
######################
*.log
