<md-content>
    <md-progress-circular md-mode="indeterminate" ng-if="loading"></md-progress-circular>
  <md-list ng-init="vm.loadBoards()">
    <md-list-item class="md-2-line" ng-repeat="board in vm.boards" ng-if="board.closed == false">
        <div class="md-list-item-text">
        <!--<button ng-click="getLists(board.id)" ng-init="count=0">{{board.name}}</button>-->
        <a ng-href="#/lists/{{board.id}}"><h3>{{board.name}}</h3></a>
        </div>
    </md-list-item>
  </md-list>
</md-content>
