<form name="vm.form">

    <md-input-container class="md-block">
        <label>Board</label>
        <md-select ng-model="vm.form.board" ng-change="vm.resetLists()" ng-click="vm.loadBoards()">
            <md-option ng-repeat="board in vm.boards" ng-value="board" ng-if="!board.closed">
                {{board.name}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-block" ng-click="vm.loadLists(vm.form.board)" ng-if="vm.form.board">
        <label>List</label>
        <md-select ng-model="vm.form.list" ng-change="vm.resetCards()">
            <md-option ng-repeat="list in vm.lists" ng-value="list">
                {{list.name}} {{list.cards.length}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-block" ng-click="vm.loadCards(vm.form.list)" ng-if="vm.form.list">
        <label>Card</label>
        <md-select ng-model="vm.form.card">
            <md-option ng-repeat="card in vm.cards" ng-value="card">
                {{card.name}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-block" ng-if="vm.form.list">
        <label>Content</label>
        <textarea ng-model="vm.form.content"></textarea>
    </md-input-container>

    <md-button ng-if="vm.form.card && vm.form.content" class="md-raised md-primary" aria-label="Create card" ng-click="vm.createComment(vm.form)">
        <span>Send</span><md-icon md-font-library="material-icons">send</md-icon>
    </md-button>
</form>