<form name="vm.form">

    <md-input-container class="md-block" ng-init="vm.loadBoards()">
        <label>Board</label>
        <md-select ng-model="vm.form.board" ng-change="vm.resetLists()">
            <md-option ng-repeat="board in vm.boards" ng-value="board" ng-if="!board.closed">
                {{board.name}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-block" ng-if="vm.form.board">
        <label>Title</label>
        <input ng-model="vm.form.title">
    </md-input-container>

    <md-button ng-if="vm.form.title" class="md-raised md-primary" aria-label="Create card" ng-click="vm.createList(vm.form)">
        <span>Send</span><md-icon md-font-library="material-icons">send</md-icon>
    </md-button>
</form>