<div ng-cloak style="min-width: 500px">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <md-content>
    <md-toolbar ng-controller="LoginController as vm">
      <div class="md-toolbar-tools">
        <md-menu>
          <md-button class="md-icon-button" aria-label="Menu">
            <md-icon md-font-library="material-icons">menu</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button>
                <md-icon class="md-icon-button" aria-label="Options">options</md-icon>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <h2>
          <span>GTrello</span>
        </h2>
        <span flex></span>
        <!--<md-button ng-if="vm.user.isLoggedIn" class="md-icon-button" aria-label="Log out" ng-click="vm.userService.logoutFromTrello()">
          <md-icon md-font-library="material-icons">exit_to_app</md-icon>
        </md-button>-->
      </div>
    </md-toolbar>
  </md-content>

  <md-content>
    <div ui-view></div>
  </md-content>

</div>